.svn/

# Build Artifacts
.gradle/
build/
/target/
bin/
dependency-reduced-pom.xml  

# Package Files #
*.jar
*.war
*.ear

# Eclipse Project Files
.classpath
.project
.settings/

# IntelliJ IDEA Files
*.iml
*.ipr
*.iws
*.idea

# Operating System Files
*.DS_Store
Thumbs.db
*.sw?
.#*
*# 
*~
*.sublime-*